
.header{
    grid-area: h;
    background-color: green;

  }
.login
{
    display: inline-block;
    float: right;
    width:70px;
}
.login a{
    color:white;
    cursor: pointer;
}

.login p{
    
    color: yellow;
   
}
.login{
    cursor: pointer;
}